<nav class="navbar bg-dark mb-3">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand me-3" href="{{ path('app_index') }}">
        <img style='width: 50px;' src="{{ asset('images/logo.png') }}" alt="Logo de MyQuizz">
    </a>
      <div class="navbar-nav flex-row gap-3">
        <a class="nav-link text-light" href="{{ path('app_index') }}">Accueil</a>
        {% if app.user %}
            <a class="nav-link text-light" href="{{ path('app_create') }}">Créer un quizz</a>
            <a class="nav-link text-light" href="{{ path('app_profile') }}">Profil</a>

        {% else %}
            <a class="nav-link text-light" href="{{ path('app_register') }}">Inscription</a>
            <a class="nav-link text-light" href="{{ path('app_login') }}">Connexion</a>
        {% endif %}

      </div>
  </div>
</nav>